body {
    background-color: powderblue;
    border: 1px solid; 
    border-color: black;
    font-size: 16px;
}
.flex-list {
  display: flex;
  justify-content: center;
}

.flex-list li {
  margin-right: 30px;
}

.left{
    width: 35%;
}
.right{
    width: 100%;
    align-items: flex-start;
}
.content{
    display: flex;
    margin-bottom: 20px;
} 
.container {
    width: 800px;
    margin: 40px auto;
    background: #fff;
    border: 2px solid #000;
    padding: 30px;
    box-sizing: border-box;
}

.ref-list {
    display: flex; 
    justify-content: space-between;
    gap: 15px;
}

